body {
  color: #3C415C;
  margin: 0;
  text-align: center;
  font-family: 'Urbanist', sans-serif;

}
h1 {
  font-family: 'Rampart One', cursive;
  font-size: 562.5%;
  margin-top: 0;
}

h2 {
  font-family: 'Rampart One', cursive;
  font-size: 45px;
}

h3 {
  color: #301B3F;
  font-family: 'New Tegomin', serif;
}

p {
  color: #151515;
  font-family: 'New Tegomin', serif;
}

.top-container {
  background-color: #ffffff;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: #ffffff;
  position: relative;
  padding-top: 100px;
}
.bottom-container {
  background-color: #ffffff;
  position: relative;
  padding-top: 10px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
